.title {
  margin-top: 50px;
}

/* Hompage css */
.homepage {
  margin-top: 60px;
}

.columns {
  float: right;
}

.btn {
  margin-bottom: 15px;
}

.filter {
  display: block;
}

.btn-filters {
  display: inline-block;
}

.btn-group {
  display: block;
}

.cancel-img {
  cursor: pointer;
}

.filter-btn {
  background-color: rgb(187, 175, 175);
  cursor: auto !important;
}

.table {
  margin-bottom: 30px;
}

thead {
  background-color: rgb(86, 149, 221);
}

/* AddMemper css */
.new-member-page {
  margin-top: 50px;
}

form {
  margin-top: 50px;
}

.outline-bad {
  border-color: #dc3545 !important;
}

.outline-bad:focus {
  box-shadow: 0 0 0 0.2rem #dd8b93 !important;
}

.my-form-text {
  display: none;
  color: #dc3545;
}

#add-group {
  margin-bottom: 20px;
}

.add-img {
  display: block;
  margin: 30px 0;
  width: 40px;
  height: 40px;
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
}

.my-spinner {
  display: none;
  width: 2rem;
  height: 2rem;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  margin-top: 20px;
  animation: spinner-border .75s linear infinite;
}


.form-check {
  margin-bottom: 0 !important;
}

.form-check-input-table {
  margin-left: 0;
}

.delete-column {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.half-length {
  width: 50%;
}