.title {
  margin-top: 50px;
}

/* Hompage css */
.homepage {
  margin-top: 60px;
}

.columns {
  float: right;
}

.btn {
  margin-bottom: 15px;
}

.filter {
  display: block;
}

.btn-filters {
  display: inline-block;
}

.btn-group {
  display: block;
}

.cancel-img {
  cursor: pointer;
}

.filter-btn {
  background-color: rgb(187, 175, 175);
  cursor: auto !important;
}

.table {
  margin-bottom: 30px;
}

thead {
  background-color: rgb(86, 149, 221);
}

#intro-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* AddMemper css */
.new-member-page {
  margin-top: 50px;
}

form {
  margin-top: 50px;
}

.outline-bad {
  border-color: #dc3545 !important;
}

.outline-bad:focus {
  box-shadow: 0 0 0 0.2rem #dd8b93 !important;
}

.my-form-text {
  display: block;
  color: #dc3545;
}

#add-group {
  margin-bottom: 20px;
}

.add-img {
  display: block;
  margin: 30px 0;
  width: 40px;
  height: 40px;
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
}

.my-spinner {
  display: none;
  width: 2rem;
  height: 2rem;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  margin-top: 20px;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  from {transform: rotate(0)} to {transform: rotate(360deg)}
}

.form-check {
  margin-bottom: 0 !important;
}

.form-check-input-table {
  margin-left: 0;
}

.delete-column {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.half-length {
  width: 50%;
  min-width: 600px;
}

.column-form {
  margin-bottom: 20px;
}

.column-input {
  display: inline-block;
  width: 80%;
}

.input-img {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.cancel-row {
  margin-top: 10px;
}


/* Login Form */
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 25%;
  min-width: 400px;
}
.sja-logo {
  width: 100%;
  margin-bottom: 20px;
}
.login-form {
  padding: 9%;
  background:#282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.login-form h3{
  text-align: center;
  margin-bottom:12%;
  color:#fff;
}

.btnSubmit{
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
  cursor: pointer;
  outline: none;
}

.btnSubmit:focus{
  outline: none;
}

.intro-error {
  margin-bottom: 10px;
}

.remove {
  display: none;
}